<section class="features">
  <div class="container">
    <div class="feature">
      <div class="icon"><i class="fa-solid fa-trophy"></i></div>
      <div class="text">
        <h3>High Quality</h3>
        <p>crafted from top materials</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon"><i class="fa-solid fa-award"></i></div>
      <div class="text">
        <h3>Warranty Protection</h3>
        <p>Over 2 years</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon">
        <i class="fa-solid fa-hand-holding-dollar"></i>
      </div>
      <div class="text">
        <h3>Free Shipping</h3>
        <p>Order over 150 $</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon"><i class="fa-solid fa-headset"></i></div>
      <div class="text">
        <h3>24 / 7 Support</h3>
        <p>Dedicated support</p>
      </div>
    </div>
  </div>
</section>
