    <footer>
      <div class="container">
        <div class="data">
          <div class="logo">
            <h2>Funiro.</h2>
            <p>400 University Drive Suite 200 Coral Gables, FL 33134 USA</p>
          </div>
          <div class="llist">
            <h3>Links</h3>
            <ul class="links">
              <li><a href="index.html">Home</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li><a href="about.hml">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="llist">
            <h3>Help</h3>
            <ul class="help">
              <li><a href="#">Payment Options</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Privacy Policies</a></li>
            </ul>
          </div>
          <div class="subscribe">
            <h3>Newsletter</h3>
            <form action="" id="subscribe-form">
              <input
                type="email"
                placeholder="Enter Your Email Address"
                name="subscribe-email"
                id="subscribe-email"
              />
              <input type="submit" value="SUBSCRIBE" />
            </form>
          </div>
        </div>
        <p class="copy-wright">2023 furino. All rights reverved</p>
      </div>
      <div id="subscribe-res" class="subscribe-res hide">
        <div class="subscribe-success hide" id="subscribe-success">
          Thank you For Your Subscribtion
        </div>
        <div class="subscribe-failed hide" id="subscribe-failed">
          Please Enter Your Email
        </div>
      </div>
    </footer>
