<nav>
  <div class="container">
    <div class="logo">
      <div class="image">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
      <div class="text">Furniro</div>
    </div>
    <div class="menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navigators">
      <ul class="links">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="shop.html">Shop</a>
        </li>
        <li>
          <a href="blog.html">Blog</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
      <div class="icons">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-cart-shopping cart-side"></i>
        <div class="cart-side-bar">
          <div class="top">
            <h2>Shopping Cart</h2>
            <div class="cart-products">
              <div class="product">
                <div class="image">
                  <img
                    src="assets/images/cart-side-bar1.png"
                    alt="cart-side-bar1"
                  />
                </div>
                <div class="info">
                  <h3>Asgaard sofa</h3>
                  <p>
                    <span>1 x</span>
                    <span>Rs. 250,000.00</span>
                  </p>
                </div>
              </div>
              <div class="product">
                <div class="image">
                  <img
                    src="assets/images/cart-side-bar2.jfif"
                    alt="cart-side-bar2"
                  />
                </div>
                <div class="info">
                  <h3>Casaliving Wood</h3>
                  <p>
                    <span>1 x</span>
                    <span>Rs. 270,000.00</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <p class="sub-total">
              <span>Subtotal</span>
              <span>Rs. 520,000.00</span>
            </p>
            <div class="actions">
              <a href="cart.html">Cart</a>
              <a href="check-out.html">Check Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
