.path {
  background-color: var(--second-bckg-color);
}
.path .container {
  padding-left: 15px;
}
.path .container span {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  color: var(--p-color);
  font-weight: 400;
  font-size: 16px;
}
.path .container span:last-child {
  color: #000000;
  border-left: 2px solid var(--light-border-color);
}
/* #### */
.main {
  border-bottom: 1px solid var(--light-border-color);
}
.main .container {
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
}
.main .container > div {
  width: 45%;
}
.main .container .images {
  display: flex;
  justify-content: space-between;
}
.main .container .images .side-images {
  width: 15%;
  min-width: 80px;
}
.main .container .images .side-images div {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
  cursor: pointer;
}
.main .container .images .side-images div img {
  height: 100%;
}
.main .container .images .main-image {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .images .side-images div,
.main .container .images .main-image {
  background-color: var(--second-bckg-color);
}
.main .text .price {
  font-weight: 500;
  font-size: 24px;
  color: var(--p-color);
}
.main .text .rating {
  margin: 10px 0;
  display: flex;
}
.main .text .rating div {
  padding: 10px 0;
}
.main .text .rating div:first-child {
  padding-right: 15px;
  color: var(--golden-color);
}
.main .text .rating div:last-child {
  padding-left: 15px;
  border-left: 1px solid var(--light-border-color);
  color: var(--p-color);
  font-weight: 400;
  font-size: 13px;
}
.main .text p {
  width: 80%;
  font-weight: 400;
  font-size: 13px;
}
.main .text h3 {
  margin: 20px 0 5px;
}
.main .text .size-pick,
.main .text .color-pick {
  display: flex;
}
.main .text .size-pick div,
.main .text .color-pick div {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.main .text .size-pick div {
  background-color: var(--second-bckg-color);
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
}
.main .text .size-pick .choosen {
  background-color: var(--golden-color);
  color: white;
}
.main .text .color-pick div {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main .text .color-pick .color1 {
  background-color: #816dfa;
}
.main .text .color-pick .color2 {
  background-color: #000000;
}
.main .text .color-pick .color3 {
  background-color: var(--golden-color);
}
.main .text form {
  padding: 30px 0 60px;
  border-bottom: 1px solid var(--light-border-color);
}
.main .text form input {
  height: 64px;
  padding: 10px 0;
  margin-top: 10px;
  outline: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
}
.main .text form input[type="number"] {
  width: 100px;
  margin-right: 20px;
  text-align: center;
}
.main .text form input[type="submit"] {
  width: 200px;
}
.main .text .info {
  padding-top: 40px;
}
.main .text .info div {
  margin-bottom: 15px;
  color: var(--p-color);
  font-weight: 400;
  font-size: 16px;
}
.main .text .info div span {
  display: inline-block;
  width: 80px;
}
.main .text .info .share svg {
  color: black;
  font-size: 22px;
  margin-right: 15px;
}
/* #### */
.description {
  color: var(--p-color);
  border-bottom: 1px solid var(--light-border-color);
}
.description .categories {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
}
.description .categories div {
  cursor: pointer;
}
.description .categories .active {
  color: #000000;
}
.description .desc {
  width: 80%;
  margin: auto;
}
.description .desc p {
  margin: 30px 0;
}
.description .images {
  display: flex;
  justify-content: space-between;
}
.description .images .image {
  width: calc((100% - 30px) / 2);
  background-color: var(--second-bckg-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* #### */
.related-products h2 {
  text-align: center;
}
.related-products .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.related-products .products .product {
  width: calc((100% - 45px) / 4);
  margin-top: 30px;
  position: relative;
  background-color: #f4f5f7;
  position: relative;
  z-index: 1;
}
.related-products .products .product .image {
  height: 301px;
  overflow: hidden;
}
.related-products .products .product .image img {
  width: 100%;
  height: 100%;
}
.related-products .products .product .content {
  margin-top: 16px;
  padding: 40px 20px;
}
.related-products .products .product h3 {
  font-weight: 600;
  font-size: 24px;
  color: var(--heading-color);
}
.related-products .products .product p {
  font-weight: 400;
  font-size: 16px;
  color: var(--p-color);
}
.related-products .products .product .price {
  display: flex;
  justify-content: space-between;
}
.related-products .products .product .price span:first-child {
  font-weight: 600;
  font-size: 20px;
  color: var(--heading-color);
}
.related-products .products .product .price span:last-child {
  text-decoration: line-through;
}
.related-products .show-more {
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 1200px) {
  .main .container {
    flex-direction: column;
    align-items: center;
  }
  .main .container > div {
    width: 95%;
  }
  .main .container > .text {
    margin-top: 30px;
  }
  .description .categories {
    width: 80%;
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1450px) {
  .related-products .products .product .price {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .related-products .products .product {
    width: calc((100% - 30px) / 2);
    margin-top: 30px;
    position: relative;
    background-color: #f4f5f7;
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 767px) {
  .path .container span {
    padding: 5px;
    margin: 5px;
    font-size: 14px;
  }
  .main .container .images {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main .container .images .side-images {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description .categories {
    flex-direction: column;
    width: 100%;
  }
  .description .categories div {
    margin-bottom: 30px;
  }
  .description .desc {
    width: 100%;
  }
  .related-products .products .product {
    width: calc(100% - 15px);
    margin-top: 30px;
    position: relative;
    background-color: #f4f5f7;
    position: relative;
    z-index: 1;
  }
}
