.blog .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog .container .articles {
  width: 65%;
}
.blog .container .articles article {
  margin-bottom: 50px;
}
.blog .container .articles article .image {
  height: 500px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.blog .container .articles article .image img {
  width: 100%;
  height: 100%;
}
.blog .container .articles article .info {
  font-weight: 400;
  font-size: 16px;
  color: var(--p-color);
  margin-top: 15px;
}
.blog .container .articles article .info span {
  margin-right: 20px;
}
.blog .container .articles article .info span svg {
  margin-right: 10px;
}
.blog .container .articles article p {
  font-weight: 400;
  font-size: 15px;
  color: var(--p-color);
  margin-bottom: 30px;
}
.blog .container .articles article a {
  font-weight: 400;
  font-size: 16px;
  position: relative;
}
.blog .container .articles article a::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.blog .container aside {
  width: 28%;
}
.blog .container aside form {
  position: relative;
}
.blog .container aside form input {
  display: block;
  margin: 20px 0;
  width: 100%;
  padding: 20px;
  outline: none;
  border: 1px solid var(--light-border-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.blog .container aside form svg {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.blog .container aside section {
  padding-left: 30px;
}
.blog .container aside section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--p-color);
  padding: 30px 0;
  cursor: pointer;
}
.blog .container aside .posts .post {
  display: flex;
  align-items: center;
  margin: 30px 0;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.blog .container aside .posts .post .image {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.blog .container aside .posts .post span {
  margin-top: 10px;
  color: var(--p-color);
  font-size: 12px;
}
.blog .container aside .posts .post .image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .blog .container {
    justify-content: center;
  }
  .blog .container .articles {
    width: 100%;
  }
  .blog .container aside {
    width: 100%;
  }
  .blog .container aside .sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .blog .container aside .sections-container section {
    width: 100%;
    padding-right: 30px;
  }
}
