.cart form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.cart form table {
  width: 65%;
  border-spacing: 0;
  text-align: center;
  font-size: 16px;
}
.cart form table thead,
.cart form .cart-totals {
  background-color: var(--second-bckg-color);
}
.cart form table th,
.cart form table td {
  padding: 10px 0;
}
.cart form table td {
  font-weight: 400;
}
.cart form table td:first-child,
.cart form table td:nth-child(2) {
  color: var(--p-color);
}
.cart form table td:first-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cart form table td .image {
  width: 100px;
  height: 100px;
  background-color: var(--second-bckg-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.cart form table td .image image {
  width: 100%;
  height: 100%;
}
.cart form table td input {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--light-border-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cart form table td svg {
  color: var(--golden-color);
  font-size: 25px;
}
.cart form .cart-totals {
  width: 30%;
  padding: 20px 50px;
  text-align: center;
}
.cart form .cart-totals h2 {
  margin-bottom: 100px;
}
.cart form .cart-totals div {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart form .cart-totals .total span:last-child {
  color: var(--golden-color);
  font-weight: 500;
  font-size: 20px;
}
.cart form .cart-totals input {
  outline: none;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .cart form {
    justify-content: center;
  }
  .cart form table,
  .cart form .cart-totals {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .cart form table,
  .cart form .cart-totals {
    width: 100%;
  }
  .cart form table {
    height: 500px;
    margin-bottom: 30px;
    display: flex;
  }
  .cart form table tr {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .cart form table th,
  .cart form table td {
    height: 20%;
    padding: 0 15px;
    margin-right: 15px;
    line-height: 100px;
  }
  .cart form table td .image {
    display: none;
  }
}
