.contact .container h2,
.contact .container > p {
  text-align: center;
}
.contact .container > p {
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  margin: 10px auto 50px;
  color: var(--p-color);
}
.contact .container .contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contact .container .contact-info .info {
  width: 30%;
}
.contact .container .contact-info .info > div {
  margin-bottom: 20px;
  display: flex;
}
.contact .container .contact-info .info .icon {
  margin-right: 10px;
  font-size: 20px;
}
.contact .container .contact-info .info .text {
  padding: 10px;
}
.contact .container .contact-info form {
  width: 50%;
}
.contact .container .contact-info form input,
.contact .container .contact-info form textarea {
  display: block;
  margin: 20px 0;
  width: 100%;
  padding: 20px;
  outline: none;
  border: 1px solid var(--light-border-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact .container .contact-info form textarea {
  height: 80px;
  resize: none;
}
.contact .container .contact-info form input[type="submit"] {
  width: 250px;
  padding: 20px 100px;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .contact .container .contact-info .info .text {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .contact .container > p {
    width: 80%;
  }
  .contact .container .contact-info {
    justify-content: center;
  }
  .contact .container .contact-info .info {
    width: 80%;
  }
  .contact .container .contact-info form {
    width: 80%;
  }
}
