.features {
  background-color: var(--second-bckg-color);
}
.features .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.features .container .feature {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.features .container .feature .icon {
  font-size: 50px;
  padding: 20px;
}
.features .container .feature .icon svg {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.features .container .feature h3 {
  font-weight: 600;
  font-size: 25px;
}
.features .container .feature p {
  font-weight: 500;
  font-size: 20px;
  color: var(--p-color);
}
