:root {
  --main-bckg-color: #fff3e3;
  --second-bckg-color: #f9f1e7;
  --heading-color: #3a3a3a;
  --p-color: #898989;
  --p-light-color: #9f9f9f;
  --golden-color: #b88e2f;
  --light-border-color: #d9d9d9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
section {
  padding: 50px 0;
}
.container {
  width: 80%;
  margin: auto;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--heading-color);
}
a {
  text-decoration: none;
  color: #000000;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
svg {
  cursor: pointer;
}
button:not(nav button) {
  border: 1px solid var(--golden-color);
  outline: none;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.btn {
  background-color: var(--golden-color);
  color: white;
}
.btn-light {
  color: var(--golden-color);
}
.btn a {
  color: white;
}
nav button {
  border: none;
}
[data-before]::before {
  content: attr(dicount);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #e97171;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
[dicount="New"]::before {
  background-color: #2ec1ac;
}
.pages-navigator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages-navigator.parent {
  margin-top: 20px;
}
.pages-navigator .child {
  width: 60px;
  height: 60px;
  font-weight: 300;
  font-size: 20px;
  margin-right: 30px;
  background-color: var(--second-bckg-color);
  text-align: center;
  line-height: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pages-navigator .active {
  background-color: var(--golden-color);
  color: white;
}
.pages-navigator .next {
  width: 100px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .container {
    width: 98%;
  }
}
