.landing {
  height: 720px;
  background-image: url("../images/landing.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
.landing .container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.landing .container .content {
  width: 45%;
  background-color: var(--main-bckg-color);
  padding: 20px;
}
.landing .container .content span {
  font-weight: 600;
  font-size: 16px;
  color: var(--heading-color);
}
.landing .container .content h1 {
  width: 65%;
  font-weight: 700;
  font-size: 52px;
  color: var(--golden-color);
}
.landing .container .content p {
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0 40px;
  color: var(--p-color);
}
/* ###### */
.range .container {
  text-align: center;
}
.range h2 {
  font-size: 32px;
}
.range p {
  font-weight: 400;
  font-size: 20px;
  color: #666666;
  margin-bottom: 50px;
}
.range .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.range .items .item {
  width: calc((100% - 120px) / 3);
}
.range .items .item h3 {
  margin-top: 30px;
}
/* ###### */
.our-products h2 {
  text-align: center;
}
.our-products .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-products .products .product {
  width: calc((100% - 45px) / 4);
  margin-top: 30px;
  position: relative;
  background-color: #f4f5f7;
}
.our-products .products .product .image {
  height: 301px;
  overflow: hidden;
}
.our-products .products .product .image img {
  width: 100%;
  height: 100%;
}
.our-products .products .product .content {
  margin-top: 16px;
  padding: 40px 20px;
}
.our-products .products .product h3 {
  font-weight: 600;
  font-size: 24px;
  color: var(--heading-color);
}
.our-products .products .product p {
  font-weight: 400;
  font-size: 16px;
  color: var(--p-color);
}
.our-products .products .product .price {
  display: flex;
  justify-content: space-between;
}
.our-products .products .product .price span:first-child {
  font-weight: 600;
  font-size: 20px;
  color: var(--heading-color);
}
.our-products .products .product .price span:last-child {
  text-decoration: line-through;
}
.our-products .products .product .over-lay {
  display: none;
}
.our-products .products .product:hover .over-lay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3a3a3ad1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.our-products .products .product .over-lay .options {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.our-products .products .product .over-lay .options span {
  cursor: pointer;
}
.our-products .products .product .over-lay .options svg {
  margin-right: 5px;
}
.our-products .show-more {
  margin-top: 50px;
  text-align: center;
}
/* #### */
.inspiration {
  background-color: var(--second-bckg-color);
  overflow: hidden;
}
.inspiration .container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.inspiration .text {
  width: 50%;
}
.inspiration .text p {
  margin: 7px 0 25px;
  color: var(--p-color);
}
.inspiration .slider {
  display: flex;
  justify-content: center;
}
.inspiration .slider .show {
  width: 400px;
  height: 580px;
  margin-right: 10px;
}
.inspiration .slider .show img {
  width: 100%;
  height: 100%;
}
.inspiration .slider .gallery {
  position: relative;
}
.inspiration .slider .gallery .images {
  display: flex;
}
.inspiration .slider .gallery img {
  width: 370px;
  height: 480px;
  margin-right: 10px;
}
.inspiration .slider .gallery .dots {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.inspiration .slider .gallery .dots div {
  width: 10px;
  height: 10px;
  border: 1px solid var(--golden-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 5px;
}
.inspiration .slider .gallery .dots .active {
  background-color: var(--golden-color);
}
.inspiration .slider .next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  background-color: var(--main-bckg-color);
  padding: 0 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: changebckg;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes changebckg {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}
/* #### */
.furniture {
  height: 850px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
}
.furniture div:first-child {
  grid-area: 1/1/5/2;
}
.furniture div:nth-child(2) {
  grid-area: 2/2/5/6;
}
.furniture div:nth-child(3) {
  grid-area: 3/6/7/9;
}
.furniture div:nth-child(4) {
  grid-area: 2/9/6/12;
}
.furniture div:nth-child(5) {
  grid-area: 1/12/6/15;
}
.furniture div:nth-child(6) {
  grid-area: 5/1/9/3;
}
.furniture div:nth-child(7) {
  grid-area: 5/3/8/6;
}
.furniture div:nth-child(8) {
  grid-area: 6/9/9/11;
}
.furniture div:last-child {
  grid-area: 6/11/8/14;
}
.furniture div img {
  width: 100%;
  height: 100%;
}
/* #### */
@media (max-width: 1200px) {
  .inspiration .container {
    flex-direction: column;
    text-align: center;
  }
  .inspiration .text {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1450px) {
  .our-products .products .product .price {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .landing .container {
    justify-content: flex-end;
  }
  .landing .container .content {
    width: 100%;
    text-align: center;
  }
  .landing .container .content h1 {
    width: 100%;
    font-size: 45px;
  }
  .range .items .item {
    width: calc((100% - 80px) / 2);
  }
  .our-products .products {
    justify-content: space-evenly;
  }
  .our-products .products .product {
    width: calc((100% - 30px) / 3);
  }
  .furniture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
  }
  .furniture div {
    width: 40%;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .range .items .item {
    width: calc(100% - 40px);
  }
  .our-products .products .product {
    width: calc((100% - 15px) / 2);
  }
  .inspiration .slider {
    flex-direction: column;
    align-items: center;
  }
  .inspiration .slider .gallery {
    margin-top: 30px;
  }
  .inspiration .slider .gallery .dots {
    justify-content: center;
  }
  .furniture {
    flex-direction: column;
    align-items: center;
  }
  .furniture div {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .our-products .products .product {
    width: calc(100% - 15px);
    margin-top: 30px;
  }
}
