nav .container {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
nav .logo {
  width: 20%;
  display: flex;
  align-items: center;
}
nav .logo .image {
  width: 50px;
  height: 32px;
}
nav .logo .image img {
  min-width: 50px;
  min-height: 32px;
}
nav .logo .text {
  margin-left: 10px;
  font-weight: 700;
  font-size: 34px;
}
nav .navigators {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .links a {
  font-weight: 500;
  font-size: 16px;
}
nav .icons {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .menu {
  width: 5%;
  height: 40px;
  display: none;
}
nav .menu span {
  width: 80%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
nav .menu:hover + .navigators {
  display: flex;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: -260px;
  right: 0;
  z-index: 100;
}
nav .menu:hover + .navigators .links,
nav .menu:hover + .navigators .icons {
  flex-direction: column;
  align-items: flex-end;
}
nav .menu:hover + .navigators .links li,
nav .menu:hover + .navigators .icons svg {
  margin: 20px 10px;
}
nav .navigators .icons {
  position: relative;
}
nav .navigators .icons .cart-side-bar {
  display: none;
}
nav .navigators .icons .cart-side:hover + .cart-side-bar {
  width: 420px;
  height: 750px;
  padding: 15px;
  background-color: white;
  border: 1px solid var(--light-border-color);
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -790px;
  right: 0;
  z-index: 100;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
nav .navigators .icons .cart-side-bar > div {
  width: calc(100% - 30px);
}
nav .navigators .icons .cart-side-bar .top h2 {
  padding: 25px 0;
  border-bottom: 1px solid var(--light-border-color);
}
nav .navigators .icons .cart-side-bar .cart-products .product {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
}
nav .navigators .icons .cart-side-bar .cart-products .product .image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background-color: var(--second-bckg-color);
}
nav .navigators .icons .cart-side-bar .cart-products .product .image img {
  width: 100%;
  height: 100%;
}
nav .navigators .icons .cart-side-bar p span:last-child {
  color: var(--golden-color);
  font-weight: 500;
  font-size: 12px;
  margin-left: 20px;
}
nav .navigators .icons .cart-side-bar .bottom p {
  padding: 25px 0;
  border-bottom: 1px solid var(--light-border-color);
  display: flex;
  justify-content: space-around;
}
nav .navigators .icons .cart-side-bar .bottom p span:last-child {
  font-size: 16px;
  margin: 0;
}
nav .navigators .icons .cart-side-bar .bottom .actions {
  padding: 30px 0;
}
nav .navigators .icons .cart-side-bar .bottom .actions a {
  padding: 15px 25px;
  margin-right: 15px;
  border: 1px solid var(--light-border-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
@media (max-width: 991px) {
  nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  nav .navigators {
    display: none;
  }
}
