.filter {
  padding: 20px 0;
  background-color: var(--second-bckg-color);
}
.filter .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.filter .left span {
  display: inline-block;
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
}
.filter .left span:last-child {
  padding-left: 20px;
  border-left: 2px solid var(--p-color);
  font-size: 16px;
}
.filter .right form {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}
.filter .right form input {
  padding: 20px;
  width: fit-content;
  text-align: center;
  outline: none;
  border: none;
  line-height: 20px;
  margin: 0 15px;
}
.filter .right form div:first-of-type input {
  width: 80px;
}
.filter .right form input::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: var(--p-color);
}
.shop .container .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop .container .products .product {
  width: calc((100% - 45px) / 4);
  margin-top: 30px;
  position: relative;
  background-color: #f4f5f7;
}
.shop .container .products .product .image {
  height: 301px;
  overflow: hidden;
}
.shop .container .products .product .image img {
  width: 100%;
  height: 100%;
}
.shop .container .products .product .content {
  margin-top: 16px;
  padding: 40px 20px;
}
.shop .container .products .product h3 {
  font-weight: 600;
  font-size: 24px;
  color: var(--heading-color);
}
.shop .container .products .product p {
  font-weight: 400;
  font-size: 16px;
  color: var(--p-color);
}
.shop .container .products .product .price {
  display: flex;
  justify-content: space-between;
}
.shop .container .products .product .price span:first-child {
  font-weight: 600;
  font-size: 20px;
  color: var(--heading-color);
}
.shop .container .products .product .price span:last-child {
  text-decoration: line-through;
}
.shop .container .products .product .over-lay {
  display: none;
}
.shop .container .products .product:hover .over-lay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3a3a3ad1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.shop .container .products .product .over-lay .options {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.shop .container .products .product .over-lay .options span {
  cursor: pointer;
}
.shop .container .products .product .over-lay .options svg {
  margin-right: 5px;
}

@media (min-width: 768px) and (max-width: 1450px) {
  .shop .container .products .product .price {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .shop .container .products {
    justify-content: space-evenly;
  }
  .shop .container .products .product {
    width: calc((100% - 30px) / 3);
  }
}
@media (max-width: 767px) {
  .shop .container .products .product {
    width: calc((100% - 15px) / 2);
  }
  .filter .right form div {
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .shop .container .products .product {
    width: calc(100% - 15px);
    margin-top: 30px;
  }
}
